.form-user{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiGrid-root{
        text-align:center;
    }
    &_content{
        height: fit-content !important;
        position: absolute;
        width: 400px !important;
        border-radius: 16px !important;
    }
    &_background{
        background-image: url("../image/background-login.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    &_input{
        margin-bottom: 20px;
    }
    &_register{
        margin-top:10px !important;
        &:hover{
            cursor: pointer;
        }
    }
    .MuiInput-formControl{
        margin-bottom: 5px;
        margin-top: 20px;
    }
    .layout_register{
        .MuiGrid-root{
            text-align:start;
        }
        .MuiFormControl-root{
            margin: 0 !important;
        }
        .button-upload{
            margin-top:12px;
            margin-bottom: 12px;
        }
    }
    .alert-register{
        position: absolute;
        top: 16px;
        left: 80vw;
    }
}