.header {
  background-color: var(--back-ground-color) !important;
  color: var(--text-color) !important;
  box-shadow: none !important;
  border-bottom: 1px solid #d0d0d0;
  position: relative;

  .header-item {
    min-height: 60px;
    max-width: var(--default-layout-width);
    margin: auto;
    .MuiFormControl-root {
      width: 90%;
      .MuiFilledInput-root {
        background-color: #ffffff00;
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
        .MuiFilledInput-input {
          border-right: 1px solid #d0d0d0;
          min-height: 28px;
          padding: 12px 20px 2px 12px;
        }
      }
    }
    .header-search {
      background-color: rgba(0, 0, 0, 0.09);
      border-radius: 16px !important;
      width: 90%;
      position: relative;
      .MuiSvgIcon-root {
        width: 30px;
        height: 30px;
        fill: #d0d0d0;
        margin-top: 6px;
        margin-left: 5px;
        &:hover {
          cursor: pointer;
          fill: #b3b3b3;
        }
      }

      .result-search {
        position: absolute;
        margin-top: 7px;
        border: 1px solid #f1f1f2;
        width: 100%;
        padding: 8px 0;
        border-radius: 8px;
        box-shadow: 0 0 0 0.5px #f1f1f2;
        background-color: white;
        z-index: 1;
        &-item {
          display: flex;
          align-items: center;
          padding: 8px 0;
          .result-search-icon {
            margin: 0;
            width: 20px;
            height: 20px;
            margin: 0 0 0 8px;
          }
          &:hover {
            cursor: pointer;
            background-color: #f5f5f5;
          }
        }
        &-text {
          font-size: 14px;
          font-weight: 500;
          margin-left: 8px;
        }
      }
    }
    .header-info {
      display: flex;
      justify-content: end;
      align-items: center;
      .MuiBadge-root {
        margin-right: 14px;
        margin-top: 5px;
      }
      .MuiSvgIcon-root {
        font-size: 30px;
      }
      .info-icon {
        margin-left: 20px;
      }
      .info-icon-item {
        position: relative;
        display: flex;
        align-items: center;
        &-list {
          position: absolute;
          right: 0;
          top: 50px;
        }
      }
      .avatar:hover {
        cursor: pointer;
      }
      .info-icon-item-list {
        display: none;
      }
    }
    .show-list-menu {
      display: block !important;
      z-index: 1;
    }
  }
  &_icon_noti {
    margin-right: 30px !important;
    &:hover {
      cursor: pointer;
    }
  }
  .list_noti {
    position: absolute;
    top: 50px;
    /* border: 1px solid; */
    width: 100%;
    padding: 8px 0 0 0;
    right: 70px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.15);
    z-index: 99;
    width: 370px;
    border-radius: 8px;
    height: 400px;
    overflow-y: auto;
    .MuiList-padding{
      padding: 0 !important;
    }
    p {
      font-size: 16px;
      color:var(--primary-dark);
      font-weight: 500;
      margin: 8px 12px;
    }
    .info-noti-list{
      box-shadow: none;
      border-radius: 8px;
      .img-notification{
        width: 50px;
        height: 50px;
      }
      .notify-item{
        border-bottom: 2px solid #c9c0c033;
        padding: 0 8px 8px 8px;
      }
    }
    .title-noti{
      font-size:12px;
      width: 100%;
      color: black;
      word-wrap: break-word;
    }
    .btn-noti{
      &-item{
        padding: 6px;
        font-size: 10px !important;
        border-radius: 3px;
        margin-right: 4px;
        font-weight: 400;
      }
      .agree{
        background-color: #008467;
      }
      .cancel{
        background-color: #DC3545;
      }
    }
  }
  .loading-search {
    width: 20px !important;
    height: 20px !important;
    text-align: center;
    margin-top: 11px;
    margin-left: 10px;
  }
  .result-search-friend,
  .result-search-trip {
    color: var(--primary-dark);
    font-size: 12px;
    margin-left: 6px;
    font-weight: 600;
  }
  .result-search-trip {
    margin-top: 4px;
  }
  .result-search-not-found {
    font-size: 10px;
    text-align: center;
    color: red;
    margin-bottom: 2px;
    font-weight: 500;
  }
  .logo{
    width: 140px;
  }
}
