.home-page{
    &-item{
        margin-bottom:20px;
        margin-top: 15px;
        .title-card{
            font-size: 14px;
            display: flex;
            align-items: center;
            font-weight: 600;
            svg {
              fill: black;
              margin-top: -2px;
              margin-right: 4px;
            }
        }
        .trip-info{
            display: flex;
            justify-content: space-between;
        }
        .trip-info-header{
            display: flex;
            .MuiTypography-root{
                margin-right: 16px;
            }
        }
        .MuiTypography-colorTextSecondary{
            margin-top: 8px !important;
        }
    }
    .MuiPaper-root{
        max-width: 100% !important;
    }
    .MuiCardHeader-avatar{
        margin-right:0 !important;
    }
    .card-home{
        box-shadow: none;
        font-size: 14px;
        &-header{
            padding: 8px 0;
            .MuiTypography-root{
                font-size: 14px;
                font-weight: 600;
                margin-top: 0 !important;
            }
            .MuiCardHeader-title{
                margin-top: 3px;
            }
        }
    }
    .filed-card{
        color:black;
    }
    .description-card{
        min-width: 60px;
    }
    .description-card, .hagtask-card{
        font-size: 14px;
        font-weight: 600;
        margin-left: 4px;
    }
    .content-card-trip{
        display: flex;
    }

    .hagtask-card{
        margin-bottom: 12px;
    }
    .icon-card{
        margin-left: 12px;
        position: relative;
        &-item{
            position: absolute;
            bottom:0;
            .MuiButtonBase-root{
                background-color: #F5F5F5;
                margin-top: 10px;
                svg{
                    fill: black;
                }
            }
        }
    }
    .MuiCardHeader-action{
        margin-right: 0;
    }
    .icon_like{
        svg {
            fill: var(--primary-high) !important;
        }
    }
}